<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>FAQ Screen</title>
    <script src="../services/faq.js" defer></script>
</head>

<body>
    <div class="faq-container">

        <div class="faq-main-heading">
            <a href="home.html" class="back"> <span>
                    < </span></a>
            <div class="faq-logo-image">
                <img src="../assets/images/edulane_horizontal_color.svg">
            </div>

            
        </div>


        <!-- <div class="faq-icons">
            <i class="fas fa-search"></i>
            <i class="fas fa-th-list"></i>
        </div> -->

        <h1>FAQ'S</h1>
        <!-- <div>Saved(4) Recently viewed</div> -->
        <button class="accordion"><i class="fas fa-plus"></i>When does registration open? Will courses be
            online?</button>
        <div class="panel">
            <p>Limited enrolment registration for regular studies opens June 21, 2021 for the Fall Semester 2021. Check the
            Registration Guide and Course Schedule for more information.
            More information about registration for Continuing Studies courses will be posted prior to CS registration.
            For the fall semester, the College is planning for a safe return to on campus learning.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>How will courses be delivered this fall?</button>
        <div class="panel">
            <p>This fall, the majority of classes will be face to face, however some classes will continue to be online or hybrid face
            to face/online to support student needs, so you might not find campus quite as busy as usual.
            Registration for this fall will begin on June 21, and Continuing Studies registration will start on July 21, 2021. We
            ask that when you register for courses, you note which courses will be on campus and which will be online to help create
            your schedule. Classroom space will be available for students who need to attend online classes while on campus and can
            be booked ahead of time through an online booking system.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>What technology do I need to study online?</button>
        <div class="panel">
            <p>As you know, classes are being delivered in-person and online. To help ensure that you have a good learning experience,
            we want to provide you with recommendations for the basic technical requirements needed for most Langara regular or
            continuing studies courses.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>How do I get a student ID (smart) card?</button>
        <div class="panel">
            <p>Student ID (smart cards) provide access to exterior doors around campus during open hours. All students taking on-campus
            courses should apply for a new student ID below.
            Student ID (smart) card requests are completed online by submitting an online form to request their ID.</p>
        </div>
        <hr>
    </div>
</body>

</html>