<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>FAQ Screen</title>
    <script src="../services/faq.js" defer></script>
</head>

<body>
    <div class="faq-container">

        <div class="faq-main-heading">
            <a href="home.html" class="back"> <span>
                    < </span></a>
            <div class="faq-logo-image">
                <img src="../assets/images/edulane_horizontal_color.svg">
            </div>

            
        </div>


        <!-- <div class="faq-icons">
            <i class="fas fa-search"></i>
            <i class="fas fa-th-list"></i>
        </div> -->

        <h1>FAQ'S</h1>
        <!-- <div>Saved(4) Recently viewed</div> -->
        <button class="accordion"><i class="fas fa-plus"></i>When does registration open? Will courses be
            online?</button>
        <div class="panel">
            <p>Limited enrolment registration for regular studies opens June 21, 2021 for the Fall Semester 2021. Check the
            Registration Guide and Course Schedule for more information.
            More information about registration for Continuing Studies courses will be posted prior to CS registration.
            For the fall semester, the College is planning for a safe return to on campus learning.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>How will courses be delivered this fall?</button>
        <div class="panel">
            <p>This fall, the majority of classes will be face to face, however some classes will continue to be online or hybrid face
            to face/online to support student needs, so you might not find campus quite as busy as usual.
            Registration for this fall will begin on June 21, and Continuing Studies registration will start on July 21, 2021. We
            ask that when you register for courses, you note which courses will be on campus and which will be online to help create
            your schedule. Classroom space will be available for students who need to attend online classes while on campus and can
            be booked ahead of time through an online booking system.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>What technology do I need to study online?</button>
        <div class="panel">
            <p>As you know, classes are being delivered in-person and online. To help ensure that you have a good learning experience,
            we want to provide you with recommendations for the basic technical requirements needed for most Langara regular or
            continuing studies courses.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>How do I get a student ID (smart) card?</button>
        <div class="panel">
            <p>Student ID (smart cards) provide access to exterior doors around campus during open hours. All students taking on-campus
            courses should apply for a new student ID below.
            Student ID (smart) card requests are completed online by submitting an online form to request their ID.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>Will my online course switch to on-campus learning?</button>
        <div class="panel">
            <p>Courses that are being delivered online will stay online for the full semester – students will not be required to attend
            in-person instruction part way though the semester.
            Exams for online courses will be delivered online. There will be no exams written on campus for courses that are 100%
            delivered online.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>How do I access online courses?</button>
        <div class="panel">
            <p>Most online courses are accessed through Brightspace. Login to Brightspace using your Langara email address and
            password.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>What should I do if I haven't heard from my teacher?</button>
        <div class="panel">
            <p>Online courses are added to your profile after the instructor activates the course – this usually happens on or just
            after the first day of classes. It is important to check your myLangara email regularly as you may hear from your
            instructor before the first class. Some instructors will wait for the course to start before communicating with
            students. You should log in to each of your Brightspace courses as soon as they appear in your profile.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>How do I order regular studies transcripts?</button>
        <div class="panel">
            <p>Transcripts for regular studies academic records are available for order through the Student Information System
            (formerly called myLangara) from the Langara login page, as usual. Rush orders are not currently available. In-person
            pickup is not currently available; transcripts will be mailed out or sent electronically to receiving institutions set
            up for that (eg UBC, SFU, KPU, etc). If you are having a transcript mailed to you, please ensure your mailing address is
            up to date in the Student Information System first.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>How do I order a regular studies COE letter?</button>
        <div class="panel">
            <p>As usual, COE letters can be downloaded from the Student Information System (formerly called myLangara) from the Langara
            login page for free; these meet the needs of most students.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>What supports are available for Brightspace?</button>
        <div class="panel">
            <p>Langara has several online learning tools that your instructors are using to continue your courses online. Your
            instructors will contact you and let you know which tools you will use in each class.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>Can I still book a counselling appointment?</button>
        <div class="panel">
            <p>Individual personal, educational, and career counselling appointments are available via video or phone. Visit the
            Counselling website to book an appointment.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>How can I access Library Services?</button>
        <div class="panel">
            <p>As of August 23, 2021, the Library is once again open to the public and regular borrowing practices have resumed. For
            library hours or closures visit the Library Hours page. Visit the Library website for the most recent updates.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>How can I submit my Social Insurance Number?</button>
        <div class="panel">
            <p>Student can call the Registrar & Enrolment Services at 604.323.5241 to submit their Social Insurance Number over the
            phone. We are available to answer phone calls between Monday and Thursday from 9:00 am–4:30 pm and Friday from 9:00
            am–4:00 pm.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>What printers are available on campus?</button>
        <div class="panel">
            <p>There are two printers between L103 and L104 in the Library Building.
            Please refer to the Student Printing page for more information.</p>
        </div>
        <hr>
        <button class="accordion"><i class="fas fa-plus"></i>Can I borrow a laptop for online learning?</button>
        <div class="panel">
            <p>30 laptops are available to be borrowed for the duration of one week or an entire semester. There is no charge to borrow
            a laptop, however photo ID (Student ID or government ID) and a student number must be provided when picking up the
            computer.
            Please note you must contact the Library to confirm a laptop is available for loan before you come to campus.</p>
        </div>
        <hr>
    </div>
</body>

</html>