<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title>Langara Edulane</title>
</head>

<body>
    <div class="container-login">
        <div class="sub-container-login">
            <img src="../../assets/images/logo-horizontal.svg">
            <form onsubmit="login(event)">
                <p>
                    <label for="studentEmail" id="username">Email address</label><br>
                    <input type="text" id="studentEmail" placeholder="Email">
                </p>
                <p>
                    <label for="studentPassword" id="password">Password</label><br>
                    <input type="password" id="studentPassword" placeholder="Password">
                </p>
                <div id="click-areas">
                    <button class="primary-btn login-area">Login</button>
                    <a id="forgot-password" href="reset-pass.html">Forgot Password</a>
                </div>
            </form>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
    <script src="../../services/firebase.js"></script>
    <script src="../../services/auth.js"></script>
</body>

</html>