<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title>Langara Edulane</title>
</head>

<body>
<nav role='navigation'>
    <div class="edulane-logo">
        <img src="../../images/edulane_horizontal_color_trimmed.svg">
    </div>    
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a>
            <img src="../../images/profile-placeholder.svg">
            <h3>Hi, <span id="username">Jasleen</span></h3>
        </a>
        <hr>
        <a href="#"><li>My Courses</li></a>
        <a href="#"><li>Calendar</li></a>
        <a href="#"><li>Find my friends</li></a>
        <a href="#"><li>Fee Information</li></a>
        <a href="#"><li>FAQ's</li></a>
        <a href="#"><li>Logout</li></a>
      </ul>
    </div>
  </nav>
</body>