<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title>Sign up</title>
</head>
<body>
    <div class="first-login-profile-container" id="picUploadOverlay"> <!-- overlay container starts here-->
        <div class="first-login-profile-title">
            <h2>Welcome!</h2>
            <span>Set your profile picture</span>
        </div>
        <div class="first-login-profile-img">
            <img src="../../assets/images/profile-placeholder.svg" id="profilePicPlaceholder" alt="placeholder">
            <video id="profilePicFinder" width="150" height="150" autoplay></video>
            <canvas id="profilePicCanvas" width="150" height="150"></canvas>
        </div>
        <div class="first-login-profile-btn">
            <button class="accent-btn" id="takePic">Take a picture</button>
            <button class="accent-btn" id="snap">Snap!</button>
            <button class="accent-btn" id="takePicAgain">Once Again</button>
            <label for="ProfilePicForm" class="accent-btn" id="cameraRoll">Camera Roll</label>
            <button class="tertiary-btn set-profile-btn" id="setProfilePic">Set profile picture</button>
        </div>
        <p id="overlayCloseTxt">close</p>
    </div><!-- overlay container ends here-->

    <div class="first-login-info-container">
        <div class="first-login-info-header">
            <img src="../../images/edulane_horizontal_color_trimmed.svg">
            <!-- <div class="userName-container">
                <img src="../../images/notification-symbol.svg" alt="">
                <p class="userNameInHeader">James Stephenson</p>
            </div> -->
        </div>
        <div class="profile-header-image-container">
        </div>
        <div class="first-login-img-container">
            <a href="#"><img src="../../images/firstTimeLoginImage-placeholder.svg" alt="Change Picture" id="profImgChangeBtn"></a>
        <!--     <p>Hi James!</p> -->
        </div>
        <div class="first-login-info-title">
            <h2>Personal Information</h2>
        </div>
        <form class="first-login-form" onsubmit="register(event)">
            <div class="first-login-form-row">
                <label for="studentName">Name</label>
                <input type="text" name="studentName" id="studentName" placeholder="Required" 
                required>
                <div class="form-required-circle"></div>
            </div>
            <div class="first-login-form-row">
                <label for="studentNickName">Nick name</label>
                <input type="text" name="studentNickName" id="studentNickName" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>
            <div class="first-login-form-row">
                <label for="studentEmail">Email</label>
                <input type="email" name="studentEmail" id="studentEmail" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>
            <div class="first-login-form-row">
                <label for="studentId">Student ID</label>
                <input type="number" name="studentId" id="studentId" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>
            <div class="first-login-form-row">
                <label for="studentPassword">Password</label>
                <input type="password" name="studentPassword" id="studentPassword" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>
            <div class="first-login-form-row">
                <label for="studentDepartment">Department</label>
                <input type="text" name="studentDepartment" id="studentDepartment" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>
            <input type="file" name="ProfilePicForm" id="ProfilePicForm" onchange="imagePreview(event);"> <!-- Hidden input -->
            <div class="submitButton" id="firstLoginSubmitBtn">
                <button class="primary-btn" type="submit">Sign up</button>
                <a id="signup-account" href="login.html">Have an account ?</a>
            </div>
        </form>
    </div>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-storage.js"></script>
    <script src="../../services/firebase.js"></script>
    <script src="../../services/auth.js"></script>
    <script src="../../services/firstTimeLogin.js"></script>
</body>
</html>