<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>Calendar Add</title>
</head>

<body>
    <div class="calendar-add-container">
        <div class="calendar-add-container__inner">
            <div class="calendar-add-container__board" id="container">

                <div id="header">
                    <button id="backButton"><i class="fas fa-chevron-left"></i></button>
                    <div id="monthDisplay"></div>
                    <button id="nextButton"><i class="fas fa-chevron-right"></i></button>

                </div>

                <div id="weekdays">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>

                <div id="calendar"></div>
            </div>

            <!-- <div id="newEventModal">
                <h2>New Event</h2>

                <input id="eventTitleInput" placeholder="Event Title" />

                <button id="saveButton">Save</button>
                <button id="cancelButton">Cancel</button>
            </div>

            <div id="deleteEventModal">
                <h2>Event</h2>

                <p id="eventText"></p>

                <button id="deleteButton">Delete</button>
                <button id="closeButton">Close</button>
            </div>

            <div id="modalBackDrop"></div> -->




            <form class="calendar-add-container__form" action="">
                <label for="title">Title</label><br>
                <input type="text" id="title" name="title"><br>
                <label for="location">Location</label><br>
                <input type="text" id="location" name="location"><br><br>
                <div class="time">
                    <label for="time">Time</label>
                    <input type="time" id="time" name="time">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                </div>


                <input type="submit" value="Add">
            </form>
        </div>
    </div>


    <!-- <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>
    
    <script src="../../services/firebase.js"></script>
    <script src="../../services/auth.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.1/moment.min.js"></script>
    <script src="../../services/calendar.js"></script>
</body>

</html>