<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>Calendar Add</title>
</head>

<body>
    <div class="calendar-add-container">
        <div class="calendar-add-container__inner">
            <div class="calendar-add-container__board" id="container">

                <div id="header">
                    <button id="backButton"><i class="fas fa-chevron-left"></i></button>
                    <div id="monthDisplay"></div>
                    <button id="nextButton"><i class="fas fa-chevron-right"></i></button>
                </div>

                <div id="weekdays">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>

                <div id="calendar"></div>
            </div>

            <form class="calendar-add-container__form" action="">

                <input type="text" id="title" name="title" placeholder="Title"><br>
                <input type="text" id="location" name="location" placeholder="Location">

                <div class="time-container">
                    <div class="time-text">
                        Time
                    </div>
                    <div class="time-box">
                        <input type="time" id="time">
                    </div>
                    <div class="switch-button">
                        <input class="switch-button-checkbox" type="checkbox"></input>
                        <label class="switch-button-label" for="">
                            <span class="switch-button-label-span">AM</span>
                        </label>
                    </div>

                </div>


                <button value="Add" class='tertiary-btn time-add-btn'>Add</button> <br>

                <a href="../calendar/calendar.html"> Cancel </a>
            </form>
        </div>
    </div>


    <!-- <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>
    
    <script src="../../services/firebase.js"></script>
    <script src="../../services/auth.js"></script> -->
    <script src="../../services/calendar.js"></script>
</body>

</html>