/* Components */
.primary-btn {
  width: 145px;
  height: 48px;
  color: #F15523;
  background-color: white;
  font-size: 22px;
}

.secondary-btn {
  width: 235px;
  height: 48px;
  color: #0E23AD;
  background-color: white;
  font-size: 22px;
}

input {
  width: 258px;
  height: 50px;
  background: white;
}

input ::placeholder {
  color: #C4C4C4;
}

/* Mobile */
.reset-bg {
  background: linear-gradient(33.58deg, #F15523 26%, #0E23AD 95%);
}

.login-bg {
  background: linear-gradient(33.58deg, #F15523 26%, #0E23AD 95%);
}

/* Tablet */
/* Desktop */
