<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Add or Drop Course</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>

<body>
    <div class="add-drop-container">
        <div class="add-course-logo-container">
            <a href="#" class="back"> <span>
                    < </span></a>
            <img src="../assets/images/edulane_horizontal_color.svg" alt="logo">
        </div>

        <div class="add-drop-title">
            <h2>Add / Drop Courses</h2>
        </div>

        <div class="add-course-container">
            <div class="add-course-sub-container">
                <button class="accent-btn course-btn">4835 HTML/CSS</button>
                <button class="accent-btn delete-btn"><i class="fas fa-trash"></i></button>
            </div>
            <div class="add-course-sub-container">
                <button class="accent-btn course-btn">4850 Typography</button>
                <button class="accent-btn delete-btn"><i class="fas fa-trash"></i></button>
            </div>
            <div class="add-course-sub-container">
                <button class="accent-btn course-btn">4835 HTML/CSS</button>
                <button class="accent-btn delete-btn"><i class="fas fa-trash"></i></button>
            </div>
            <div class="add-course-sub-container">
                <button class="accent-btn course-btn">4835 HTML/CSS</button>
                <button class="accent-btn delete-btn"><i class="fas fa-trash"></i></button>
            </div>
            <div class="add-course-sub-container">
                <button class="accent-btn course-btn">4835 HTML/CSS</button>
                <button class="accent-btn delete-btn"><i class="fas fa-trash"></i></button>
            </div>
            <div class="add-course-sub-container">
                <button class="accent-btn course-btn">4835 HTML/CSS</button>
                <button class="accent-btn delete-btn"><i class="fas fa-trash"></i></button>
            </div>
            <div class="add-course-sub-container">
                <button class="accent-btn course-btn">4835 HTML/CSS</button>
                <button class="accent-btn delete-btn"><i class="fas fa-trash"></i></button>
            </div>
        </div>

        <div class="add-course-bottom-action">
            <button class="tertiary-btn">Add courses</button>
            <a href="#" class="search-courses-btn"><span>Search Courses</span></a>
        </div>
    </div>
</body>

</html>