<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>First Login Profile Setup</title>
</head>

<body>
    <div class="first-login-profile-container">

        <div class="first-login-profile-logo-container">
            <a href="#" class="back"> <span>
                    < </span></a>
            <img src="../assets/images/edulane_horizontal_color.svg" alt="logo">
        </div>

        <div class="first-login-profile-title">
            <h2>Welcome!</h2>
            <span>Set your profile picture</span>
        </div>
        <div class="first-login-profile-img">
            <img src="../assets/images/profile-placeholder.svg" alt="">
        </div>
        <div class="first-login-profile-btn">
            <button class="accent-btn">Take a picture</button>
            <button class="accent-btn">Camera roll</button>
            <button class="tertiary-btn set-profile-btn">Set profile picture</button>
        </div>
    </div>
</body>

</html>