<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Langara EduLane</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>

<body>
    <div></div>
    <!-- Hamburger Menu From Here -->
    <nav role='navigation'>
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a>
                    <img src="../images/profile-placeholder.svg">
                    <h3>Hi, <span id="username">Jasleen</span></h3>
                </a>
                <hr>
                <a href="home.html">
                    <li>My Courses</li>
                </a>
                <a href="#">
                    <li>Calendar</li>
                </a>
                <a href="#">
                    <li>Find my friends</li>
                </a>
                <a href="faq.html">
                    <li>FAQ's</li>
                </a>
                <a onclick="logout()">
                    <li>Logout</li>
                </a>
            </ul>
        </div>
    </nav>
    <!-- Hamburger Menu Ends Here -->
    <div class="home-container">

        <div class="home-main-heading">

            <div class="home-logo-image">
                <img src="../assets/images/edulane_horizontal_color.svg">
            </div>
            <!-- Overlaps with hamburger menu, comment out -->
            <!-- <div class="home-icons">
                <i class="fas fa-search"></i>
                <i class="fas fa-bell"></i>
                <i class="fas fa-bars"></i>
            </div> -->

            <div class="home-inside-container1" id="home-profile-container">
                <div class="home-courses-profile-img"><img src="../assets/images/profile-placeholder.svg"></div>
                <div class="home-profile-container">
                    <h4 id="userName"></h4>
                    <span id="currentDate"></span>
                </div>
            </div>


        </div>

        <div class="home-courses-container">
            <h1>My Courses</h1>
            <a class="home-courses-button" href="add-drop-course.html">Add/Drop Courses</a>
        </div>

        <div class="home-courses-list" id="homeCourseList">
        </div>
        <!-- Find My Friends section from here -->
        <div class="find-my-friends">
            <div class="find-my-friends-header">
                <h2>Find My Friends</h2>
                <img src="../images/plus_button.svg" alt="plus button">
            </div>
            <button id="getCurrentPosition">Get Current Position</button>
            <div class="map-section">
                <div class="map-header">
                    <p class="map-header-title">Nearby Friends</p>
                    <img src="../images/map-pin.svg" alt="">
                    <p class="friend-name">Poala Rubio</p>
                </div>
                <div id="map-area">
                    <!-- Todo: It would be better to hide the API key! -->
                    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt3pYgKXe6eKRw7gIC04VL4VVvPdTnnS8&callback=initMap"></script>
                </div>
            </div>
        </div>

    </div>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>
    <script src="../services/firebase.js"></script>
    <script src="../services/auth.js"></script>
    <script src="../services/home.js"></script>
    <script src="../services/map.js"></script>
</body>

</html>