<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>

<body>
    <div class="home-container">

        <div class="home-main-heading">

            <div class="home-logo-image">
                <img src="../assets/images/edulane_horizontal_color.svg">
            </div>

            <div class="home-icons">
                <i class="fas fa-search"></i>
                <i class="fas fa-bell"></i>
                <i class="fas fa-bars"></i>
            </div>

            <div class="home-inside-container1" id="home-profile-container">
                <div class="home-courses-profile-img"><img src="../assets/images/profile-placeholder.svg"></div>
                <div class="home-profile-container">
                    <h4> Hi, Jasleen</h4>
                    <span> Sept 24,2021</span>
                </div>
            </div>

        </div>

        <div class="home-courses-container">
            <h1>My Courses</h1>
            <a class="home-courses-button" href="add-drop-course.html">Add/Drop Courses</a>
        </div>

        <div class="home-courses-list" id="home-course-list">
            <div class="home-courses-list-item">
                <div class="home-courses-list-item-img">
                    <img src="../assets/images/profile-placeholder.svg">
                </div>
                <div class="home-courses-content">
                    <h4>4835 HTML/CSS</h4>
                    <div class="home-courses-date">
                        <span class="home-courses-intake">Fall 2021</span>
                        <span>Ends on December 2021</span>
                    </div>
                    <div>20% Completed</div>
                </div>
            </div>

            <div class="home-courses-list-item">
                <div class="home-courses-list-item-img">
                    <img src="../assets/images/profile-placeholder.svg">
                </div>
                <div class="home-courses-content">
                    <h4>4835 HTML/CSS</h4>
                    <div class="home-courses-date">
                        <span class="home-courses-intake">Fall 2021</span>
                        <span>Ends on December 2021</span>
                    </div>
                    <div>20% Completed</div>
                </div>
            </div>

            <div class="home-courses-list-item">
                <div class="home-courses-list-item-img">
                    <img src="../assets/images/profile-placeholder.svg">
                </div>
                <div class="home-courses-content">
                    <h4>4835 HTML/CSS</h4>
                    <div class="home-courses-date">
                        <span class="home-courses-intake">Fall 2021</span>
                        <span>Ends on December 2021</span>
                    </div>
                    <div>20% Completed</div>
                </div>
            </div>


            <div class="home-courses-list-item">
                <div class="home-courses-list-item-img">
                    <img src="../assets/images/profile-placeholder.svg">
                </div>
                <div class="home-courses-content">
                    <h4>4835 HTML/CSS</h4>
                    <div class="home-courses-date">
                        <span class="home-courses-intake">Fall 2021</span>
                        <span>Ends on December 2021</span>
                    </div>
                    <div>20% Completed</div>
                </div>
            </div>

        </div>

    </div>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>
    <script src="../services/firebase.js"></script>
    <script src="../services/auth.js"></script>
    <script src="../services/search-course.js"></script>
</body>

</html>