<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>

<body>
    <div class="home-container">

        <div class="home-main-heading">

            <div class="home-logo-image">
                <img src="../assets/images/edulane_horizontal_color.svg">


            </div>
            <div class="home-icons">
                
                <i class="fas fa-search"></i>
            </div>
            <div class="home-inside-container1">
                <div><img src="../assets/images/profile-placeholder.svg"></div>
                <div>
                    <h4> Hi, Jasleen</h4>
                    <span> Sept 24,2021</span>
                </div>
            </div>
        </div>
        <div class="home-courses-container">
            <h4>My Courses</h4>
            <button class="home-courses-button" type=button>Add/Drop Courses</button>
        </div>
        <div class="home-courses-list">
            <div class="home-courses-list1">
                <img src="../assets/images/profile-placeholder.svg">
                <h4 class="home-course-name"> 4835 HTML/CSS</h4>
                <pre>Ends on December 19, 2021     Ends on December 19, 2021</pre>
                <pre>   jbcjcsbsbjxjsx                          20% completed</pre>
            </div>
            <div class="home-courses-list1">
                <img src="../assets/images/profile-placeholder.svg">
                <h4 class="home-course-name"> 4850 TYPOGRAPHY</h4>
                <pre>Ends on December 19, 2021     Ends on December 19, 2021</pre>

                <pre>   jbcjcsbsbjxjsx                          20% completed</pre>
            </div>
            <div class="home-courses-list1">
                <img src="../assets/images/profile-placeholder.svg">
                <h4 class="home-course-name"> 4885 INTEGRATED PROJECT</h4>
                <pre>Ends on December 19, 2021     Ends on December 19, 2021</pre>

                <pre>   jbcjcsbsbjxjsx                          20% completed</pre>
            </div>
            <div class="home-courses-list1">
                <img src="../assets/images/profile-placeholder.svg">
                <h4 class="home-course-name"> 4840 CONTENT MANAGMENT SYSTEMS</h4>
                <pre>Ends on December 19, 2021     Ends on December 19, 2021</pre>

                <pre>   jbcjcsbsbjxjsx                          20% completed</pre>
            </div>

        </div>

    </div>

</body>

</html>