<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>Search Course</title>
</head>

<body>
    <div class="search-course-container">

        <div class="search-course-logo-container">
            <a href="#" class="back"> <span>
                    < </span></a>
            <img src="../assets/images/edulane_horizontal_color.svg" alt="logo">
        </div>

        <div class="search-course-title">
            <h2>Add Courses!</h2>
        </div>

        <div class="search-course-bar">
            <input type="text" placeholder="Enter your CRN number" onchange="searchCourses(event)">
        </div>

        <div id="searchCourseContainer">

        </div>

    </div>
    <div class="search-course-bottom-action">
        <button class="tertiary-btn" onclick="submitCourseList()">Submit</button>
    </div>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>
    <script src="../services/firebase.js"></script>
    <script src="../services/auth.js"></script>
    <script src="../services/search-course.js" defer></script>
</body>

</html>