.calendar-container {
    margin: 30px 0 0;
    padding: 0;
    width: 100%;
    height: 100%;

    #headerSmall {
        padding: 10px;
        /* color: #d36c6c; */
        font-size: 17px;
        /* font-family: sans-serif; */
        display: flex;
        justify-content: space-around;
        font-weight: 700;
    }

    #headerSmall button {
        border: none;
    }

    #containerSmall {
        width: 310px;
        height: 310px;
    }

    #weekdaysSmall {
        width: 100%;
        display: flex;
        color: #717171;
    }

    #weekdaysSmall div {
        width: 42.5px;
        // padding: 4px;
    }

    #calendarSmall {
        width: 2000px;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        transform: translate(10px, 0);
    }

    .day {
        width: 35px;
        height: 35px;
        cursor: pointer;
        box-sizing: border-box;
        margin: 2px 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 50%;
    }

    .day:hover {
        background-color: #e8faed;
    }

    .day+#currentDay {
        background-color: $secondary-color;
        color: white;
    }


    .padding {
        cursor: default !important;
        // background-color: #FFFCFF !important;
        box-shadow: none !important;
    }


    // .calendar-container__inner

    &__inner {
        min-width: 20rem;
        height: 100%;
    }

    // .calendar-container__top

    &__top {
        display: flex;
        justify-content: space-between;
        flex: row nowrap;
    }

    // .calendar-container__title

    &__title {
        h2 {
            color: $primary-color;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    // .calendar-container__menu

    &__menu {
        margin-left: 80px;
        margin-top: 20px;

        select {
            background-color: rgba(218, 218, 218, 0.15);
            border: none;
            width: 100px;
            height: 30px;
        }
    }

    // .calendar-container__wrapper

    &__wrapper {
        margin-top: 50px;
        text-align: center;

        .calendar {
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 10px;

            .arrow-left {
                grid-column: 1 / 1;
                grid-row: 2/2;
            }

            .arrow-right {
                grid-column: 8 / 8;
                grid-row: 2/2;
            }
        }
    }

    // .calendar-container__schedule

    &__schedule {
        display: flex;
        flex: row nowrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }

    // .calendar-container__button

    &__button {
        button {
            height: 32px;
            width: 32px;
            border: 1px solid $secondary-color;
            border-radius: 10px;
            color: $secondary-color;
            font-size: 20px;
            font-weight: 700;
            background-color: #fff;
        }
    }

    &__event-type {
        display: flex;
        position: absolute;
        top: -10px;
        left: 20px;
        background: $primary-color;
        color: white;
        padding: 5 7px;
        height: 20px;
        border: 1px solid $primary-color;
        border-radius: 8px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    // .calendar-container__event-delete

    &__event-delete {
        button {
            height: 54px;
            width: 54px;
            border: 1px solid $secondary-color;
            border-radius: 10px;
            color: $secondary-color;
            font-size: 20px;
            background: white;
        }
    }

    &__space {
        width: 50%;
        height: 100%;
    }


    &__event-area {
        margin-top: 30px;
    }

    // .calendar-container__item

    &__item {
        display: flex;
        text-align: center;
        align-items: center;
        margin-bottom: 40px;
        justify-content: space-between;
    }

    // .calendar-container__time

    &__time {
        margin-right: 10px;
        font-weight: 700;
    }

    // .calendar-container__event

    &__event {
        position: relative;
        height: 50px;
        width: 200px;
        border: 1px solid $secondary-color;
        border-radius: 10px;
        text-align: center;
        background: white;
        display: flex;
        align-items: center;

        .text {
            margin: auto;
            width: 100%;
        }
    }

    // .calendar-container__event-type

    &__event-type {
        display: flex;
        position: absolute;
        top: -10px;
        left: 20px;
        background: $primary-color;
        padding: 0 5px;
        height: 20px;
        border: 1px solid $primary-color;
        border-radius: 8px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    // .calendar-container__event-delete

    &__event-delete {
        button {
            height: 54px;
            width: 54px;
            border: 1px solid $secondary-color;
            border-radius: 10px;
            color: $secondary-color;
            font-size: 20px;
            background: white;
        }
    }

    &__space {
        width: 50%;
        height: 100%;
    }
}

.calendar-add-container {
    margin: 20px auto;
    width: 310px;
    height: 550px;
    text-align: center;
    border: 1px solid $secondary-color;
    border-radius: 20px;
    padding: 15px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    #header {
        padding: 10px;
        /* color: #d36c6c; */
        font-size: 17px;
        /* font-family: sans-serif; */
        display: flex;
        justify-content: space-around;
        font-weight: 700;
    }

    #header button {
        border: none;
    }

    #container {
        width: 310px;
        height: 310px;
    }

    #weekdays {
        width: 100%;
        display: flex;
        color: #717171;
        margin-bottom: 10px;
    }

    #weekdays div {
        width: 42.5px;
        // padding: 4px;
    }

    #calendar {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .day {
        width: 35px;
        height: 35px;
        cursor: pointer;
        box-sizing: border-box;
        margin: 2px 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 50%;
    }

    .day:hover {
        background-color: #e8faed;
    }

    .day+#currentDay {
        background-color: $secondary-color;
        color: white;
    }


    .padding {
        cursor: default !important;
        // background-color: #FFFCFF !important;
        box-shadow: none !important;
    }




    &__form {
        margin-top: 10px;

        .time-add-btn {
            margin: 0;
        }

        .time-container {
            display: flex;
            justify-content: space-between;
            align-content: center;

            #time {
                width: 90px;
            }
        }

        input {
            background-color: #EFEFEF;
            color: black;
            border-top: 1px solid $secondary-color;
            border-radius: 0;
            padding: 0;
            width: 300px;

            &::placeholder {
                color: #525252;
                font-size: 14px;
            }
        }

        #title {
            margin-top: 20px;
        }

        .switch-button {
            background: rgba(118, 118, 128, 0.12);
            border-radius: 5px;
            overflow: hidden;
            width: 100px;
            height: 40px;
            text-align: center;
            color: black;
            position: relative;



            &:before {
                content: "PM";
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 3;
                pointer-events: none;
            }

            &-checkbox {
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 2;

                &:checked+.switch-button-label:before {
                    transform: translateX(120px);
                    transition: transform 300ms linear;
                }

                &+.switch-button-label {
                    position: relative;
                    padding: 15px 0;
                    display: block;
                    user-select: none;
                    pointer-events: none;

                    &:before {
                        content: "";
                        background: #fff;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        border-radius: 5px;
                        transform: translateX(0);
                        transition: transform 300ms;
                    }

                    .switch-button-label-span {
                        position: relative;
                        text-align: center;
                    }
                }
            }
        }
    }
}

//-------------------------------------
//   Calendar Confirm
//-------------------------------------

.calendar-confirm-container {
    display: none;
    width: 260px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // .calendar-confirm-container__inner

    &__inner {
        border: 1px solid $primary-color;
        border-radius: 20px;
        background-color: RGBA(223, 206, 182, 0.68);
        padding: 30px;
    }

    // .calendar-confirm-container__icon

    &__icon {}

    // .calendar-confirm-container__text

    &__text {
        h3 {
            font-size: 24px;
            color: #636567;
            margin-top: 0;
            text-align: center;
        }

        h4 {
            font-size: 16px;
            color: #636567;
            text-align: center;
            width: 130px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    // .calendar-confirm-container__buttons

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .secondary-btn {
            width: 90px;
            height: 30px;
            font-size: 12px;
            border: 1px solid $secondary-color;
        }

        .tertiary-btn {
            width: 90px;
            height: 30px;
            margin: 0;
            font-size: 12px;
            border: 1px solid $secondary-color;
        }
    }
}



.calendar-container__event {
    width: 80% !important;
}

.calendar-container__time {
    width: 20% !important;
}