.calendar-container {
    margin: 30px 0 0;
    padding: 0;
    width: 100%;
    height: 100%;

    // .calendar-container__inner

    &__inner {
        min-width: 20rem;
        height: 100%;
    }

    // .calendar-container__top

    &__top {
        display: flex;
        justify-content: space-between;
        flex: row nowrap;
    }

    // .calendar-container__title

    &__title {
        h2 {
            color: $primary-color;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    // .calendar-container__menu

    &__menu {
        margin-left: 80px;
        margin-top: 20px;

        select {
            background-color: rgba(218, 218, 218, 0.15);
            border: none;
            width: 100px;
            height: 30px;
        }
    }

    // .calendar-container__wrapper

    &__wrapper {
        margin-top: 50px;
        text-align: center;

        .calendar {
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 10px;

            .arrow-left {
                grid-column: 1 / 1;
                grid-row: 2/2;
            }

            .arrow-right {
                grid-column: 9 / 9;
                grid-row: 2/2;
            }

            .weekday,
            .first-day,
            .day {
                justify-items: center;
                align-items: center;
                text-align: center;
            }

            .days {
                grid-column: 2 / 9;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
            }
        }
    }

    // .calendar-container__schedule

    &__schedule {
        display: flex;
        flex: row nowrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }

    // .calendar-container__button

    &__button {
        button {
            height: 32px;
            width: 32px;
            border: 1px solid $secondary-color;
            border-radius: 10px;
            color: $secondary-color;
            font-size: 20px;
            font-weight: 700;
            background-color: #fff;
        }
    }

    &__event-type {
        display: flex;
        position: absolute;
        top: -10px;
        left: 20px;
        background: $primary-color;
        color: white;
        padding: 5 7px;
        height: 20px;
        border: 1px solid $primary-color;
        border-radius: 8px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    // .calendar-container__event-delete

    &__event-delete {
        button {
            height: 54px;
            width: 54px;
            border: 1px solid $secondary-color;
            border-radius: 10px;
            color: $secondary-color;
            font-size: 20px;
            background: white;
        }
    }

    &__space {
        width: 50%;
        height: 100%;
    }


    &__event-area {
        margin-top: 30px;
    }

    // .calendar-container__item

    &__item {
        display: flex;
        text-align: center;
        align-items: center;
        margin-bottom: 40px;
        justify-content: space-between;
    }

    // .calendar-container__time

    &__time {
        margin-right: 10px;
        font-weight: 700;
    }

    // .calendar-container__event

    &__event {
        position: relative;
        height: 50px;
        width: 200px;
        border: 1px solid $secondary-color;
        border-radius: 10px;
        text-align: center;
        background: white;
        display: flex;
        align-items: center;

        .text {
            margin: auto;
            width: 100%;
        }
    }

    // .calendar-container__event-type

    &__event-type {
        display: flex;
        position: absolute;
        top: -10px;
        left: 20px;
        background: $primary-color;
        padding: 0 5px;
        height: 20px;
        border: 1px solid $primary-color;
        border-radius: 8px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    // .calendar-container__event-delete

    &__event-delete {
        button {
            height: 54px;
            width: 54px;
            border: 1px solid $secondary-color;
            border-radius: 10px;
            color: $secondary-color;
            font-size: 20px;
            background: white;
        }
    }

    &__space {
        width: 50%;
        height: 100%;
    }
}


//-------------------------------------
//   Calendar Confirm
//-------------------------------------

.calendar-confirm-container {
    display: none;
    width: 260px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // .calendar-confirm-container__inner

    &__inner {
        border: 1px solid $primary-color;
        border-radius: 20px;
        background-color: RGBA(223, 206, 182, 0.68);
        padding: 30px;
    }

    // .calendar-confirm-container__icon

    &__icon {}

    // .calendar-confirm-container__text

    &__text {
        h3 {
            font-size: 24px;
            color: #636567;
            margin-top: 0;
            text-align: center;
        }

        h4 {
            font-size: 16px;
            color: #636567;
            text-align: center;
            width: 130px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    // .calendar-confirm-container__buttons

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .secondary-btn {
            width: 90px;
            height: 30px;
            font-size: 12px;
            border: 1px solid $secondary-color;
        }

        .tertiary-btn {
            width: 90px;
            height: 30px;
            margin: 0;
            font-size: 12px;
            border: 1px solid $secondary-color;
        }
    }
}



.calendar-container__event {
    width: 80% !important;
}

.calendar-container__time {
    width: 20% !important;
}