// ---------------------------------------
//   Incorrect password pop-up
// ---------------------------------------

.window-password {
  margin: 0.5rem auto;
  min-width: 18rem;
  padding: 0;
  width: 17rem;
  height: 17rem;
  border: 2px solid #2b3c98;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;

  &__inner {
    margin: 0 auto;
    text-align: center;
    color: #717171;

    h3 {
      color: #717171;
      display: block;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      font-weight: 700;
    }

    p {
      color: #717171;
      display: block;
      font-size: 1rem;
      margin-bottom: 2.3rem;
    }

    hr {
      display: block;
      height: 2px;
      border: 0;
      border-top: 1px solid #0e23ad;
      padding: 0;
    }

    input {
      margin: 0;
      color: #717171;
      font-size: 24px;
      font-weight: 800;
    }
  }
}

.container-password {
  width: 14rem;
  height: 14rem;
  display: flex;
  align-items: center;
}
