.logo {
  width: 249px;
  height: 79px;
  top: 190px;
}

.logo-container {
  text-align: center;
}

.text-container {
  text-align: center;
  color: $white;

  p {
    border-bottom: 1px solid $white;
    padding-bottom: 8px;
    border-bottom-width: thin;
  }
}

label {
  color: $white;
}

.reset-pass-form {
  display: flex;
  align-items: center;
}

.reset-pass-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.reset-pass-sub-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reset-pass-info {
  text-align: left;
  color: $white;
  max-width: 260px;
  margin-top: 18px;
  font-size: 12px;
}

.reset-pass-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.reset-pass-login {
  margin-top: 35px;
}

.back-container {
  top: 50px;
  position: absolute;
  left: 30px;

  .back {
    color: $white;
    font-weight: bold;
    font-size: 1.5rem;
    .back-text {
      display: inline-block;
      font-weight: normal;
      font-size: 1.2rem;
      text-decoration: underline;
      margin-left: 20px;
      transform: translateY(-2px);
    }
  }
}
