.add-drop-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid $secondary-color;
  margin: 28px 0 20px;
  padding-bottom: 18px;
  h2 {
    color: $primary-color;
    font-size: 32px;
    font-weight: bold;
  }
}

.add-course-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 33px;
  gap: 32px;

  .add-course-sub-container {
    display: flex;
    gap: 20px;
  }
}

.accent-btn {
  height: 59px;
  border: 1px solid $secondary-color;
}

.course-btn {
  width: 255px;
  color: $primary-color;
}

.delete-btn {
  width: 59px;
  color: $secondary-color;
}

.search-courses-btn {
  border-bottom: 1px solid $primary-color;
  color: $primary-color;
}

.add-course-bottom-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  gap: 10px;
}

.add-course-logo-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 9px;
  position: relative;
  a {
    width: 30px;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 37px;
    font-size: 25px;
    font-weight: bold;
  }

  img {
    width: 150px;
    height: 50px;
    margin: auto;
  }
}

.add-drop-container {
  background-color: rgba(218, 218, 218, 0.37);
  height: 100%;
}
