
.add-drop-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid $primary-color;
    margin-bottom: 20px;
    h2 {
        color: $primary-color;
        font-size: 32px;
        font-weight: bold;
    }
}

.add-course-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .add-course-sub-container {
        display: flex;
        gap: 20px;
    }
}

.course-btn {
    width: 255px;
}

.delete-btn {
    width: 50px;
}

.search-courses-btn {
    border-bottom: 1px solid $primary-color;
    color: $primary-color;
}

.add-course-bottom-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    gap: 10px;
}

.add-course-logo-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 40px;

    a {
        width: 30px;
        text-align: center;
    }
    
    img {
        width: 150px;
        height: 50px;
        margin: auto;
    }
}

.add-drop-container {
    background-color: rgba(218, 218, 218, 0.37);
    height: 100%;
}