.welcome-bg {
    @include setGradient(linear-gradient(33.58deg, #F15523 26%, #2B3C98 95%));
    position: relative;
}

.welcome-bg img {
    mix-blend-mode: multiply;
    width: 100%;
}

img.edulane-logo {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 60%;
    z-index:999;
}

// to be added on _mixins and _buttons
.primary-btn{
    border: none;
    border-radius: 20px;
    z-index: 999;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.primary-btn:hover {
    background-color: $primary-color;
    color: $white;
}







