.container-welcome {
  background-image: linear-gradient(33.58deg, #f1552399, #2b3c9899),
    url(../../assets/images/welcome-tabl.jpg);
}

.edulane-logo img {
  width: 20%;
}

.btns-welcome {
  top: 80%;
}

.tertiary-btn {
  margin-right: 10px;
}

.primary-btn {
  margin-left: 10px;
}
