<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title>Add Course</title>
</head>

<body>
    <div class="first-login-info-container">
        <div class="first-login-info-header">
            <img src="../../images/edulane_horizontal_color_trimmed.svg">
        </div>
        <div class="profile-header-image-container">
        </div>
        <div class="first-login-info-title">
            <h2>Course Information</h2>
        </div>
        <form class="first-login-form" onsubmit="addCourseToCollege(event)">
            <div class="first-login-form-row">
                <label for="courseName">Name</label>
                <input type="text" name="courseName" id="courseName" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>
            <div class="first-login-form-row">
                <label for="courseDepartment">Department</label>
                <input type="text" name="courseDepartment" id="courseDepartment" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>

            <div class="first-login-form-row">
                <label for="courseDescription">Description</label>
                <input type="text" name="courseDescription" id="courseDescription" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>
            <div class="first-login-form-row">
                <label for="instructorName">Instructor</label>
                <input type="text" name="instructorName" id="instructorName" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>
            <div class="first-login-form-row">
                <label for="courseSection">Section</label>
                <input type="text" name="courseSection" id="courseSection" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>
            <div class="first-login-form-row">
                <label for="courseDays">Course Days</label>
                <select multiple name="courseDays" id="courseDays" required onchange="setDays(event)">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
            </div>
            <div class="first-login-form-row">
                <label for="classTiming">Class Timing</label>
                <input type="time" name="classTiming" id="classTiming" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>
            <div class="first-login-form-row">
                <label for="courseIntake">Course Intake</label>
                <select name="courseIntake" id="courseIntake" required>
                    <option value="January">Spring</option>
                    <option value="May">Summer</option>
                    <option value="September">Fall</option>
                </select>
            </div>
            <div class="first-login-form-row">
                <label for="courseCRN">CRN Number</label>
                <input type="number" name="courseCRN" id="courseCRN" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>
            <div class="first-login-form-row">
                <label for="courseStartDate">Start Date</label>
                <input type="date" name="courseStartDate" id="courseStartDate" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>
            <div class="first-login-form-row">
                <label for="courseEndDate">End Date</label>
                <input type="date" name="courseEndDate" id="courseEndDate" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>
            <div class="submitButton">
                <button class="primary-btn" type="submit">Create Course</button>
            </div>
        </form>
    </div>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>
    <script src="../../services/firebase.js"></script>
    <script src="../../services/auth.js"></script>
    <script src="../../services/search-course.js"></script>
</body>

</html>