<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title>First time login info input page</title>
</head>
<body>
    <div class="first-login-info-container">
        <div class="logo-container">
            <img src="../../images/edulane_horizontal_color_trimmed.svg">
        </div>

        <div class="first-login-img">
        </div>
        <div class="first-login-info-title">
            <h2>Personal Information</h2>
        </div>
        <form class="first-login-form">
            <label for="yourName">Name</label><br>
            <input type="text" name="yourName" id="yourName" placeholder="Required"><br>
            <label for="yourNickName">Nick name</label><br>
            <input type="text" name="yourNickName" id="yourNickName" placeholder="Required"><br>
            <label for="studentId">Student ID</label><br>
            <input type="text" name="studentId" id="studentId" placeholder="Required"><br>
            <label for="department">Department</label><br>
            <input type="text" name="department" id="department" placeholder="Required"><br>
            <div class="submitButton">
                <button type="submit">Save Change</button>
            </div>
        </form>
    </div>
</body>
</html>