<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title>First time login info input page</title>
</head>
<body>
    <div class="first-login-info-container">
        <div class="first-login-info-header">
            <img src="../../images/edulane_horizontal_color_trimmed.svg">
            <div class="userName-container">
                <img src="../../images/notification-symbol.svg" alt="">
                <p class="userNameInHeader">James Stephenson</p>
            </div>
        </div>
        <div class="profile-header-image-container">
        </div>
        <div class="first-login-img-container">
            <a href="#"><img src="../../images/firstTimeLoginImage-placeholder.svg" alt="Change Picture"></a>
            <p>Hi James!</p>
        </div>
        <div class="first-login-info-title">
            <h2>Personal Information</h2>
        </div>
        <form class="first-login-form">
            <div class="first-login-form-row">
                <label for="yourName">Name</label>
                <input type="text" name="yourName" id="yourName" placeholder="Required" 
                required>
                <div class="form-required-circle"></div>
            </div>
            <div class="first-login-form-row">
                <label for="yourNickName">Nick name</label>
                <input type="text" name="yourNickName" id="yourNickName" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>
            <div class="first-login-form-row">
                <label for="studentId">Student ID</label>
                <input type="text" name="studentId" id="studentId" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>
            <div class="first-login-form-row">
                <label for="department">Department</label>
                <input type="text" name="department" id="department" placeholder="Required" required>
                <div class="form-required-circle"></div>
            </div>
            <div class="submitButton">
                <button type="submit">Save Change</button>
            </div>
        </form>
    </div>
</body>
</html>