<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title>Langara Edulane</title>
</head>

<body>
    <div class="container-login">
        <div class="sub-container-login">
            <img src="../../assets/images/logo-horizontal.svg">
            <form action="#">
                <p>
                    <label for="username" id="username">Username</label><br>
                    <input type="text" id="email" placeholder="Email">
                </p>
                <p>
                    <label for="password" id="password">Password</label><br>
                    <input type="password" id="password-input" placeholder="">
                </p>
                <div id="checkbox-area">
                    <input type="checkbox" id="checkbox-remember-me">
                    <label for="remember-me" id="remember-me">Remember me</label>
                </div>
                <div id="click-areas">
                    <button class="primary-btn login-area"><a href="#">Login</a></button>
                    <a id="forgot-password">Forgot Password</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>