<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="manifest" href="/manifest.json">
    <title>Langara Edulane</title>
</head>

<body>
    <!-- <img class="edulane-logo" src="../../images/logo.svg">
    <div class="welcome-bg">
        <picture>
            <source media="(min-width: 1280px)" srcset="../../images/welcome.jpeg">
            <source media="(min-width: 960px)" srcset="../../images/welcome-tabl.jpg">
            <img src="../../images/welcome-mob.jpg" alt="Welcome">
        </picture>
        <div class="welcome-btns">
            <button href="#" class="primary-btn">Sign up</button>  
            <button href="login.html" class="tertiary-btn"> Login</button>
        </div>    
    </div> -->
    <div class="container-welcome">
        <div class="sub-container-welcome">
            <img src="../../assets/images/logo.svg">
            <div class="btns-welcome">
                <button class="tertiary-btn"><a href="login.html"> Login</a></button>
                <button class="primary-btn"><a href="signup.html">Sign up</a></button>
            </div>
        </div>
    </div>
</body>

</html>