html,body {
    height: 100%;
}

* {
    font-family: proxima-nova, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.main-bg {
    @include setBackground(linear-gradient(33.58deg, $primary-color 26%, $secondary-color 95%));
    height: 100%;
}
